body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #0F2027, #2C5364);
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
}

form {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    border-radius: 10px;
    width: 250px; /* Reduzindo a largura do formulário */
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.label-style {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.input-style {
    font-size: 14px; /* Reduzindo o tamanho da fonte */
    border: 1px solid #ccc;
    padding: 4px; /* Reduzindo o padding interno */
    width: 100px; /* Ajustando a largura dos inputs */
    box-sizing: border-box; /* Garante que o padding não aumente a largura total */
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#result {
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
}
