@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	min-height: 100vh;
	gap: 2rem;
	background: linear-gradient(
			0deg,
			rgba(206, 231, 241, 1) 0%,
			rgba(207, 233, 243, 1) 50%,
			rgba(184, 217, 230, 1) 100%
		)
		fixed;
	overflow: hidden; /*esconde o conteúdo da página inicialmente*/
	opacity: 0;
	animation: showHome 4s forwards;
}

/*animação para mostrar o conteúdo da página*/
@keyframes showHome {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*imagem da primeira coluna*/
body::before {
	display: block;
	content: '';
	background: url('./assets/agua.jpg') no-repeat center center;
	background-size: cover;
}

.container {
	font-family: 'Poppins';
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.container span {
	font-size: 1.5rem;
	color: #3ca8e6;
}

.titulo {
	margin-bottom: 2rem;
}

h1 {
	font-size: 2.5rem;
	background: rgba(0, 0, 0, 0)
		linear-gradient(300deg, #ffffff, #4d5b6b, #232547) repeat scroll 0% 0%/200%
		200%;
	color: transparent;
	background-clip: border-box;
	background-clip: text;
	margin: 12px 0px;
}

h1:hover {
	animation: GradientAnimation 2s ease infinite;
	animation: GradientAnimation 2s ease infinite;
}

/*animação de hover do título*/
@keyframes GradientAnimation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.form {
	background-color: #f1f0f080;
	padding: 2rem;
	margin: 2rem 0;
	border-radius: 32px;
	width: 350px; /* Reduzindo a largura do formulário */
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 10px 10px 52px 0px rgba(0, 0, 0, 0.75);
}

.input-group {
	margin-bottom: 10px;
}

.label-style {
	display: inline-block;
	text-align: right;
}

.input-style,
.input-style-peso,
.input-style-name {
	font-size: 14px; /* Reduzindo o tamanho da fonte */
	border: 1px solid #ccc;
	padding: 4px; /* Reduzindo o padding interno */
	width: 100px; /* Ajustando a largura dos inputs */
	box-sizing: border-box; /* Garante que o padding não aumente a largura total */
	font-family: 'Poppins';
}

.input-style-peso {
	margin-left: 24px;
}

.input-style-name {
	margin-left: 52px;
}

.buttons {
	display: flex;
	justify-content: center;
}

button {
	background-color: #3ca8e6;
	border: 2px solid #422800;
	border-radius: 30px;
	box-shadow: #422800 4px 4px 0 0;
	color: #422800;
	cursor: pointer;
	display: inline-block;
	color: white;
	font-weight: 600;
	font-size: 18px;
	padding: 0 18px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
}

button:hover {
	background-color: #9281ee;
}

button:active {
	box-shadow: #422800 2px 2px 0 0;
	transform: translate(2px, 2px);
}

.button_send {
	visibility: hidden; /* Escondido por padrão, mas ocupa espaço */
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	padding: 5px;
}

.button_send.active {
	visibility: visible; /* Torna visível quando necessário */
	opacity: 1;
}

.send {
	width: 16px;
}

.resultados {
	position: relative;
	height: 2rem;
	width: 100%;
}

.result_share {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	height: 100%;
}

.result_share > p {
	font-weight: bold;
}

#overlay-result {
	margin-bottom: 5px;
}

/* spinner da home */
.loader {
	position: absolute;
	width: 100%;
	max-width: 6rem;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	align-items: center;
	justify-content: center;
}
.loader:before,
.loader:after {
	content: '';
	position: absolute;
	border-radius: 50%;
	animation: pulsOut 1.8s ease-in-out infinite;
	filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}
.loader:before {
	width: 100%;
	padding-bottom: 100%;
	box-shadow: inset 0 0 0 1rem #fff;
	animation-name: pulsIn;
}
.loader:after {
	width: calc(100% - 2rem);
	padding-bottom: calc(100% - 2rem);
	box-shadow: 0 0 0 0 #fff;
}

/*animação do spinner da home*/
@keyframes pulsIn {
	0% {
		box-shadow: inset 0 0 0 1rem #fff;
		opacity: 1;
	}
	50%,
	100% {
		box-shadow: inset 0 0 0 0 #fff;
		opacity: 0;
	}
}

@keyframes pulsOut {
	0%,
	50% {
		box-shadow: 0 0 0 0 #fff;
		opacity: 0;
	}
	100% {
		box-shadow: 0 0 0 1rem #fff;
		opacity: 1;
	}
}

/* overlay do spinner da home*/
.spinner_overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #3ca8e6;
	display: flex;
	justify-content: center;
	align-items: center;
	animation: fadeInOut 4s forwards;
}

/*animação de entrada e saída do spinner da home*/
@keyframes fadeInOut {
	0% {
		opacity: 0;
	}
	10% {
		opacity: 1;
	}
	90% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		visibility: hidden;
	}
}

/* spinner do resultado */
.spinner {
	visibility: hidden; /* Escondido por padrão, mas ocupa espaço */
	opacity: 0;
	width: 25px;
	height: 25px;
	border: 6px solid #f3f3f3;
	border-top: 6px solid #3498db;
	border-radius: 50%;
	animation: spin 4s linear infinite;
	margin: 10px auto; /* Centraliza o spinner horizontalmente */
	transition: visibility 0s, opacity 0.5s linear; /* Transição suave */
	position: absolute;
	top: 50%;
	left: 45%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.spinner.show {
	visibility: visible; /* Torna visível quando necessário */
	opacity: 1;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

/*overlay*/
.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	display: none; /* Inicialmente oculto */
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.overlay-content {
	background: white;
	padding: 20px;
	border-radius: 8px;
	text-align: center;
	width: 80%;
	max-width: 400px;
}

.overlay-form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.overlay-button {
	margin: 10px;
}

.input_name,
.input_email {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.input_name > input,
.input_email > input {
	width: 100%;
	padding: 5px;
	font-family: 'Poppins';
}

.input_email {
	margin-left: 3px;
}

/*responsividade*/
@media (max-width: 900px) {
	body {
		grid-template-columns: 1fr;
	}

	body::before {
		display: none;
	}
	h1 {
		font-size: 2rem;
		text-align: center;
		padding: 1rem;
	}

	.form {
		padding: 2rem;
		width: 250px;
	}

	.buttons {
		margin-top: 1.5rem;
	}
}

@media (max-width: 500px) {
	body {
		grid-template-columns: 1fr;
	}

	body::before {
		display: none;
	}

	h1 {
		font-size: 2rem;
		text-align: center;
		padding: 1rem;
	}

	.form {
		padding: 2rem;
		width: 250px;
	}

	.buttons {
		margin-top: 1.5rem;
	}

	.result_share > p {
		font-weight: bold;
		width: 60%;
		text-align: center;
	}
}

@media (max-width: 350px) {
	.titulo {
		margin-bottom: 1rem;
	}

	h1 {
		font-size: 1.5rem;
		text-align: center;
		padding: 1rem;
	}

	.form {
		padding: 2rem;
		width: 200px;
	}

	.label-style {
		font-size: 14px;
	}

	.input-style-peso {
		margin-left: 20px;
	}

	.buttons {
		margin-top: 1.5rem;
	}
}
